<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- 渲染 favicon --}}
  {{#each mobiusConfig.manifest.icons as |icon|}}
  <link rel="{{icon.rel}}" type="{{icon.type}}" sizes="{{icon.sizes}}" href="{{icon.src}}">
  {{/each}}
  <link rel="icon" type="image/png" href="{{mobiusConfig.favicon}}">
  {{!-- 渲染额外引入的字体资源 --}}
  {{#each mobiusConfig.fonts as |extra-font|}}
  <link {{!-- rel='preload' as="font" --}}  href="{{extra-font}}" type="font/woff2" crossorigin="anonymous" />
  {{/each}}

  <title>{{mobiusConfig.title}}</title>

  {{!-- 渲染单独定义的 异步加载 外部样式表 --}}

  {{#each mobiusConfig.asyncCss as |outer-async-css|}}
  <link rel="stylesheet" href="{{outer-async-css}}" media="print" {{!-- onload="this.media='all'; this.onload=null;" --}} />
  {{/each}}
  {{!-- 渲染单独定义的 同步加载 外部样式表 --}}
  {{#each mobiusConfig.css as |outer-css|}}
  <link rel='stylesheet' href="{{outer-css}}" />
  {{/each}}
  {{!-- 渲染 webpack 打包完成的 CSS --}}
  {{#each htmlWebpackPlugin.css as |inner-css|}}
  <link rel="stylesheet" href="{{inner-css}}">
  {{/each}}

  {{!-- 渲染 webpack 打包完成的 JavaScript --}}
  {{#each htmlWebpackPlugin.js as |inner-js|}}
  <script defer src="{{inner-js}}"></script>
  {{/each}}

  {{!-- 渲染额外的 head 标签 --}}
  {{{mobiusConfig.headHtmlSnippet}}}
</head>

<body>
  {{!-- 渲染额外的 body 内容 --}}
  {{{mobiusConfig.bodyHtmlSnippet}}}
</body>

</html>
